*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    height: 750px;
    z-index: 700;
    overflow-y: scroll;
  border: 2px solid red;
}

.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*height: 90vh;
    max-width: 1600px;
    max-height: 800px;*/
    justify-content: center;
    align-items: center;
}

.gallery-image{
    width: 120px;
    height: 120px;/*calc(50% - 20px);
    min-width: 300px;
    min-height: 200px;*/
    margin: 10px;
    overflow: hidden;
    border: 2px solid red;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
  
.gallery-image img:hover {
  -webkit-transform: scale(2.0);
          transform: scale(2.0);
}

/* popup */

.popup{
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
    border: 5px solid red;
}

.popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn{
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top-bar{
    background: Red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.image-name{
    opacity: 0;
}

.close-btn{
    background: white;
    color: yellow;
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.arrow-btn{
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.left-arrow{
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
}

.left-arrow img {
    width: 40px;
    height: 40px;
  }
  
.right-arrow{
    right: 10px;
}
    
.right-arrow img {
    width: 40px;
    height: 40px;
}

.arrow-btn:hover{
    background: rgba(0, 0, 0, 0.5);
}

.index{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 80px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0;
}

.large-image{
    margin-top: 5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}